.error{
    color: crimson;
}

/* Color Palette Used:
#000000 (black);
#14212D (dark blue);
#FCA311 (yellow);
#E5E5E5 (light gray);
#FFFFFF (white);



#DEF1F7 light blue for cards
#002349 (dark blue) for nav bar
#FFF3D6 (beige) for background

*/



/* .colStyle {
  
} */

.table-break td {
  height: 20px; /* Adjust as needed */
  background-color: transparent !important; /* Optional: make it a different color or transparent */
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* This is a custom class to change the color of the NavBar...it overrides the Bootstrap built-in style */
.navStyle {
  background-color: #134A8C;
  color: white !important; 
}

/* Background color for every page, default font for every page, default font color for every page */
body {
  background-color: #DEF1F7 !important;
  font-family: 'ABeeZee', sans-serif !important;
  color: #14212D !important;
}

.block {

  text-align: center;
  margin: 20px;

}

.logout {
  margin-left: 50px;
}

.welcome {
  margin-left: 450px;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: auto;
}

.news a {

  text-align: left;
  color: #14212D !important;
}

/* Custom font & font color for h1 elements, center alignment for text, text resize (and override of h1 default), top padding (for cushion away from NavBar) */


/* Custom font & font color for h2 elements, center alignment for text, text resize (and override of h2 default), top padding (for cushion from other elements), text underline feature */

h3 {
  text-align: center;
  padding-top: 30px;

}
/* Text alignment for h6 elements, italics */
h6 {
  text-align: center;
  font-style: italic;
}

/* Text color for all links on page */
a {
  color: white !important;
}

/* Text color & text background color for all links on page, when hovering */
.nav-item a:hover {
  color:  #14212D !important;
  background-color: #DEF1F7 !important;
}

.searchStyle {
  border: 1px solid #9F5C59;
  color: #9F5C59 !important;

}

.hidden {
  display: none;
  visibility: hidden;
}

.searchStyle:hover{
  border: 1px solid #9F5C59;
  background-color: #F4c88d !important;
}


/* Background color for VIP logo on NavBar */
#icon {
  background-color: #FCA311 !important;
  margin: 10px;
}

/* Overrides built-in Bootstrap style for cards and list items (used in cards and NavBar) - background color, text color, font */
.card {
  background-color: #FFF3D6 !important;
  font-family: 'ABeeZee', sans-serif;
  color: #14213D !important;
  margin-bottom: 30px;
  margin-top: 30px;
}

nav li {
  background-color: #134A8C !important;
  font-family: 'ABeeZee', sans-serif;
  color: white !important;
  white-space: nowrap;
}

li {

  text-align: left;


}
/* Under construction pages - image responsiveness dependent on device/screen size */
img {
    max-width: 100% ;
    height: auto;
}

/* To customize the color of the button background and text on the form (suggestions page) */
.btn-primary {
  background-color: #DEF1F7 !important;
  color: #14213D !important;
}

/* To increase the size of the form box for user rationale */
#details {
  height: 150px;
}