<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartCitadel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Regular CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

    <nav class="navbar navbar-expand-lg navStyle">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="/static/images/logo.png" alt="Logo" width="40" class="d-inline-block">
            StartCitadel 
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="/home">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="/flashcards">Finance Dictionary</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="/currencyConverter">Forex Calculator</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="/portfolio">Stock Analyzer</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn" aria-current="page" href="/news">News</a>
              </li>

              <li class="nav-item welcome">
                <a class="nav-link"> Welcome, {{user}}</a>
              </li>

              <li class="nav-item logout">
                <a class="nav-link btn" href="/signup">Logout</a>
              </li>
              
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success searchStyle" type="submit">Search</button>
            </form> -->
            
          </div>
        </div>
      </nav>

    <h3>Welcome to the Forex Currency Converter</h3>
    <hr>

    
    <div class = "container block">

        <div class = "row">
            <div class = "col-3"> </div>
            <div class = "col-6">

                

                <form method="post" action = "/currencyConverter" class="d-flex" role="search">
                    <input name = "num_currencies" class="form-control me-2" type="search" placeholder="Number of Possible Exchanges to Output" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Generate</button>
                </form>

            </br>
        </br>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Currency Exchanges</th>
                        <th scope="col">Profit per USD</th>
                      </tr>
                    </thead>
                    <tbody>

                        {% for i in range(lim) %}
                            <tr>
                                <th scope="row">{{i + 1}}</th>
                                <td>USD --> {{ output[i]["curr_one"] }} --> {{ output[i]["curr_two"] }} --> USD</td>
                                <td>{{ output[i]["final_profit"] }}</td>
                            </tr>
                        {% endfor %}
                      
        
                    </tbody>
                  </table>
               

                <!-- <a href="/currencyConverter" class="btn btn-primary" type="submit">Generate currency exchanges</a>
 -->


            </div>
        </div>
    </div>

    
     <!-- Scripts for Bootstrap -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
     
</body>
</html>